<!--This is the page where user uploads data-->
<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../static/styles/global-styles.css">
        <link rel="stylesheet" href="../static/styles/instructions.css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Playfair+Display:ital,wght@1,500;1,800&display=swap" rel="stylesheet">

        <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
        <script src="../static/controllers/controller.js"></script>
    </head>

    <body>

        <div class="border">

            <h1>1</h1>
            <h1>2</h1>
            <h1>3</h1>
            <h1>4</h1>
            <h1>5</h1>
    
            <div style="text-align: center; margin-top: 2rem;">
                <form id="uploadForm" enctype="multipart/form-data">
                    <label for="file">
                        SELECT FILE
                        <input type="file" name="file" id="file" accept=".csv" style="display: none;">
                    </label>
                    <button type="button" onclick="upload()">UPLOAD FILE</button>
                </form>
        
                <form action="{{ url_for('overview') }}" method="post">
                    <button style="margin-top: 10px;" type="submit">SHOW ME MY STATS</button>
                </form>
            </div>
        </div>
    </body>
</html>