<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../static/styles/global-styles.css">
        <link rel="stylesheet" href="../static/styles/overview.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Playfair+Display:ital,wght@1,500;1,800&display=swap" rel="stylesheet">
        
        <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
        <script src="../static/controllers/controller.js"></script>
    </head>

    <body onload="getTotals()">

        <div class="title">
            <h1>in the last year, you listened to...</h1>
        </div>
        
        <div class="counter">
            <h2>
                <div id="artist-counter">0</div>
            </h2>
            <h3>artists</h3>
        </div>
        <br>
        <div class="counter">
            <h2>
                <div id="song-counter">0</div>
            </h2>
            <h3>songs</h3>
        </div>
        <br>
        <div class="counter">
            <h2>
                <div id="minute-counter">0</div>
            </h2>
            <h3>minutes</h3>
        </div>

        <form action="{{ url_for('artists') }}" method="post">
            <button type="submit">WHAT'S NEXT?</button>
        </form>
    </body>
</html>