<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../static/styles/global-styles.css">
        <link rel="stylesheet" href="../static/styles/top-artists.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;800&display=swap" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

        <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
        <script src="../static/controllers/controller.js"></script>
    </head>

    <body onload="getTopSongs()">
        
        
        <div style="text-align: center;">
            <h2 class="gradient-text" >TOP SONGS</h2>
            <!-- <h3 style="margin-bottom: 0; opacity: .9;">you listened to</h3> -->
        </div>
        
        <div style="display: grid; grid-template-columns: 70 30%; margin-top: 1rem">
            
                <div style="display: inline-block; padding: 3rem 0;">
                    <canvas id="mySongChart" style="width: 100%;"></canvas>
                </div>
                <div class="song-list">
                    <ul id="topSongsList"></ul>
                </div>
          
            
    
        </div>


        

        <form action="{{ url_for('artists') }}" method="post">
            <button type="submit">BACK</button>
        </form>

        <form action="{{ url_for('monthly') }}" method="post">
            <button type="submit">NEXT</button>
        </form>

    </body>
</html>