<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../static/styles/global-styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;800&display=swap" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

        <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
        <script src="../static/controllers/controller.js"></script>
    </head>

    <body onload="getTopArtists()">
        
        
        <div style="text-align: center;">
            <h2 class="gradient-text" >TOP ARTISTS</h2>
            <h3 style="margin-bottom: 0; opacity: .9;">you listened to</h3>
        </div>
        
        <ul id="topArtistsList">
            
        </ul>

        <canvas id="myChart" style="width:100%;max-width:80vw"></canvas>

        <form action="{{ url_for('overview') }}" method="post">
            <button type="submit">BACK</button>
        </form>

    </body>
</html>